# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY
# ANTHROPIC_API_KEY: Optional.
ANTHROPIC_API_KEY=MY_ANTHROPIC_API_KEY
# OPENAI_API_KEY: Optional.
OPENAI_API_KEY=MY_OPENAI_API_KEY
# CUSTOM_API_KEY: Optional.
CUSTOM_API_KEY=MY_CUSTOM_API_KEY
# MISTRAL_API_KEY: Optional.
MISTRAL_API_KEY=MY_MISTRAL_API_KEY
